<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Proyecto de Django{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
  <header>
    <h1>Segundo Parcial</h1>
    <nav>
      <a href="{% url 'videos' %}">Videos</a>
      <a href="{% url 'usuarios' %}">Usuarios</a>
      <a href="{% url 'creditos' %}">Créditos</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 - Proyecto Django</p>
  </footer>
</body>
</html>
