body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: #1D3557;
  color: #fff;
  padding: 10px;
}
nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
main {
  padding: 20px;
}
footer {
  background: #457B9D;
  color: white;
  text-align: center;
  padding: 10px;
}
